.accordion {

	margin: 1em 0;

	&__bellow {
		border-bottom: 1px solid #444;
	}

	&__title {
		font-size: 1.2em;
		position: relative;
		background: rgba(#000, 0.4);
		padding: 5px 40px 5px 10px;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background: rgba(#000, 0.3);
		}
	}

	&__arrow {
		position: absolute;
    right: 20px;
    top: 16px;
    transition: transform 0.4s;
    transform-origin: -4px 7px;

    &::before,
    &::after {
      content: "";
      position: absolute;
			display: block;
      width: 2px;
      height: 14px;
      background: #999;
    }

    &::before { transform: rotate(45deg); }

    &::after {
      transform: rotate(-45deg);
      right: 8px;
    }

		&--toggled { transform: rotate(180deg); }
	}

	&__content {
		display: block;
		background: #000;
		color: #fff;
		padding: 10px;
		overflow-y: hidden;
	  transition-property: max-height, padding;

		&--measuring {
			max-height: 999em !important;
			visibility: hidden;
		}

		&--animating {
			transition: 0.6s cubic-bezier(0.65, 0.06, 0.36, 0.95);
			transition-property: padding-top, padding-bottom, max-height;
		}

		&--closed {
			max-height: 0;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	&__image {
		max-width: 200px;
		margin: 0 auto;
		padding: 10px 0;
	}

	@media(min-width: $mq-md) {

		&__title {
			padding: 10px 40px 10px 20px;
		}

		&__content {
			display: flex;
			padding: 20px;

			&--closed {
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&__image,
		&__text {
			flex-basis: 0;
			flex-grow: 1;
			width: 100%;
			max-width: 100%;
		}

		&__image {
			flex: 0 0 25%;
			max-width: 25%;
			margin: 0;
		}

		&__text {
			padding-right: 40px;
		}
	}
}
